<link rel="stylesheet" href="{{ asset("css/header.css") }}" />
<header>
  <div class="mainNav">
          <a href="http://takeaway.localhost/takeAway/formViews/signIn">Sign in</a>
          <a href="http://takeaway.localhost/takeAway/formViews/displayAccountForm">Create an account</a>
          <a href="http://takeaway.localhost/index">Home</a> 
          
          {% if app.user != null %}
            <a href="http://takeaway.localhost/signOut">Sign out</a>
          {% endif %}
          
          {% if app.user != null and app.user.email=='zero@sugar.com' %}
            <a href="http://takeaway.localhost/displayCustomers">Admin</a>
          {% endif %} 
          
          
  </div>
</header>