<link rel="stylesheet" href="{{ asset("css/sideNav.css") }}" />
           <div class="sidenav">
               <h1>Menu</h1>
                        <a href="http://takeaway.localhost/takeAway/displayDishesCategory/starters">Starters</a> 
                  
                        <a href="http://takeaway.localhost/takeAway/displayDishesCategory/soups">Soups</a> 
                    
                        <a href="http://takeaway.localhost/takeAway/displayDishesCategory/main%20dishes">Main dishes</a> 
                  
                        <a href="http://takeaway.localhost/takeAway/displayDishesCategory/desserts">Desserts</a> 
                   
                        <a href="http://takeaway.localhost/takeAway/displayDishesCategory/drinks">Drinks</a> 
                   
                        <a href="http://takeaway.localhost/takeAway/formViews/createMenu">Create your own menu</a>    
                        
          </div>
   
