<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TakeAwayEatAtHome{% endblock %}</title> 
 <link rel="stylesheet" href="{{ asset("css/template.css") }}" />
</head>
    <body>
        <main>
            <header>
                {% block header %}
                        {% include "TakeAwayViews/TemplateViews/header.html.twig" %}
                {% endblock %}
            </header>
            <div id="middleContent">
                <div id="sidebar">
                    {% block sidebar %}
                        {% include "TakeAwayViews/TemplateViews/nav.html.twig" %}
                    {% endblock %}
                </div>       
                <div id="content">  
                    {% block content %} 
                    {% endblock %} 
                </div>
                <div id="divBasket">
                    {% block basket %}                
                        {% include "TakeAwayViews/ModeleViews/DisplayBasket.html.twig" %}
                    {% endblock %}
                </div>                 
            </div>
        </main>
            <footer>
                {% include "TakeAwayViews/TemplateViews/footer.html.twig" %}
            </footer>
    </body>
</html>