 <link rel="stylesheet" href="{{ asset("css/template.css") }}" />
 {% include "TakeAwayViews/TemplateViews/header.html.twig" %}
<div id='container'>       
        <div class='account'>
            <h3>Create an account</h3>

{{ form_start(accountForm, {'action': path('accountForm'), 'method': 'POST'}) }}
{{ form_widget(accountForm.nom, {'attr' : {'class' : 'fields', 'placeholder': 'Last name' } }) }}
{{ form_widget(accountForm.prenom, {'attr' : {'class' : 'fields', 'placeholder': 'First name' } })}}
{{ form_widget(accountForm.email, {'attr' : {'class' : 'fields', 'placeholder': 'E-mail' } })}}
{{ form_widget(accountForm.passwordoriginal.first, {'attr' : {'class' : 'fields', 'placeholder': 'Password' } }) }}
{{ form_widget(accountForm.passwordoriginal.second, {'attr' : {'class' : 'fields', 'placeholder': 'Repeat your password' } }) }}
{{ form_widget(accountForm.phone, {'attr' : {'class' : 'fields', 'placeholder': 'Tel. number' } })}}
{{ form_widget(accountForm.adresse.street, {'attr' : {'class' : 'fields', 'placeholder': 'Street' } })}}
{{ form_widget(accountForm.adresse.number, {'attr' : {'class' : 'fields', 'placeholder': 'Number' } })}}
{{ form_widget(accountForm.adresse.zipcode, {'attr' : {'class' : 'fields', 'placeholder': 'Zipcode' } })}}
{{ form_widget(accountForm.adresse.city, {'attr' : {'class' : 'fields', 'placeholder': 'City' } })}}
    <button id="accountbutton" type="submit">Submit</button>
{{ form_end(accountForm) }}

      </div>
    </div>

