 <link rel="stylesheet" href="{{ asset("css/template.css") }}" />
 <div class="orderform">
 <h3>Modify account</h3>
    
{{form_start(accountForm)}}
Last name {{ form_widget(accountForm.nom, {'attr' : {'class' : 'fields' } })}}
First name{{ form_widget(accountForm.prenom, {'attr' : {'class' : 'fields' } })}}
E-mail{{ form_widget(accountForm.email, {'attr' : {'class' : 'fields' } })}}
Tel. number{{ form_widget(accountForm.phone, {'attr' : {'class' : 'fields' } })}}
Street {{ form_widget(accountForm.adresse.street, {'attr' : {'class' : 'fields' } })}}
Number {{ form_widget(accountForm.adresse.number, {'attr' : {'class' : 'fields' } })}}
ZipCode {{ form_widget(accountForm.adresse.zipcode, {'attr' : {'class' : 'fields' } })}}
City {{ form_widget(accountForm.adresse.city, {'attr' : {'class' : 'fields' } })}}
Id {{ form_widget(accountForm.id, {'attr' : {'class' : 'fields' } })}}
<input type="hidden" id="id" name="id" value="{{ id }}"/>
<input type="submit" value="Submit changes"/>
{{ form_end(accountForm) }}

 </div>