<h1>Ce n'est qu'un exercise de formulaire.</h1>

Create your own menu:<br><br>
{% for cle, category in allcategories%}
        {{category.nameCat}}
      <select>  
         {% for cle, prop in category.dishes %}      
             <option value="{{prop.name}} {{prop.price}}">{{prop.name}} Price: {{prop.price}}<option>
         {% endfor %}
      </select>
         <br><br>
{% endfor %}
<br>
<button>Submit</button><br><br>

<a href="http://takeaway.localhost/index">Home</a> 