 <link rel="stylesheet" href="{{ asset("css/template.css") }}" />
 <div class="orderform">

{{ form_start(orderForm) }}

Date {{ form_widget(orderForm.dateOrder, {'attr' : {'class' : 'fields' } })}}
When to deliver? {{ form_widget(orderForm.dateDelivery, {'attr' : {'class' : 'fields' } })}}
Address {{ form_widget(orderForm.adresseDelivery, {'attr' : {'class' : 'fields' } })}}
Delivery price {{ form_widget(orderForm.priceDelivery, {'attr' : {'class' : 'fields' } }) }}
Amount to pay {{ form_widget(orderForm.totalPrice, {'attr' : {'class' : 'fields' } })}}

<input type='submit' value='Next' />

{{ form_end(orderForm) }}
 </div>