<link rel="stylesheet" href="{{ asset("css/template.css") }}" />
<div class="orderform">

{{ form_start(paymentForm) }}

Card number {{ form_widget(paymentForm.number, {'attr' : {'class' : 'fields' } })}}
Expiring date{{ form_widget(paymentForm.dateExp, {'attr' : {'class' : 'fields' } })}}
Card type {{ form_widget(paymentForm.typesCartePayment, {'attr' : {'class' : 'fields' } })}}

{{ form_end(paymentForm) }}
<div>
<br><br>
<a href="http://takeaway.localhost/index">Home</a> 