<link rel="stylesheet" href="{{ asset("css/styleForm.css") }}" />
<body>
    <div id='container'>       
        <div class='signup'>
           <h3>Sign in</h3>
            <form action="" method="POST" action="{{ path ("signIn") }}">
                <input type='text' name="_username" placeholder='Email:' />
                <input type='text' name="_password" placeholder='Password:' />
                <input type='submit' value='Sign in' />
            </form>
        </div>
    </div>
</body>
 


{% if errors %}
{{ dump(errors) }}
{{ dump (lastEmail) }}
Login or password are not correct.
{% endif %}
