{% set basket = app.session.get('basket') %}

{% for cle, prop in basket %}
   {% if prop.quantity == 0 %}   
     <p class="important">Please choose the quantity!</p>
   {% else %}
     
    <div id="basket">          
    <p>Dish: </p> {{ prop.name }}
    <p>Price: </p> {{ prop.price }}
    <p>Quantity: </p> {{ prop.quantity }}
  
    <form method="post" action="/deleteItem/{{ cle }}">
    <input type="hidden" name="id" value="{{ cle }}"/>
    <input type="submit" value="Delete"><br>
    </form>
    </div>
    
    {% endif %}     
{% endfor %}<br><br>
 


{% if basket!="" %}
    <p>Price of delivery: 5 euros</p>
    <form method="post" action="/takeAway/deleteBasket">
    <input type="submit" value="Empty Basket">
    </form>
    
    <form method="post" action="/takeAway/orderForm">
    <input id="order" type="submit" value="Order">
    </form>

{% endif %} 

{% if basket=="" %}
  <img src="{{ asset ("/img/basket_icon/basket2.jpg") }} " width="130" height="100"/>   
{% endif %} 