{% extends "TakeAwayViews/TemplateViews/template.html.twig" %}

{% block content %}   
<div class="display">   
<h1>{{category.nameCat}}</h1>

{% for cle, prop in category.dishes %}

    <form id="form{{ prop.id }}" action="/takeAway/addToBasket" method="POST">
      <div class="dish">
          
        <div>
        <p>{{prop.name}}</p> 
        <img src="{{ asset ("/img/dishPhotos/" ~ prop.photo ) }} " width="130" height="100"/>
        <p>{{prop.description}}</p>
        <p>{{prop.price}}</p> 
        </div> 
            
        <div class="inputs">
        <input type="button" id="{{ prop.id }}" class="addToBasket" data-id="{{ prop.id }}" value="Add to your basket"><br>
        <input type="number" id="quantity" name="quantity" value=0><br>
        <input type="hidden" id="id" name="id" value="{{ prop.id }}"/>
        <input type="hidden" id="name" name="name" value="{{ prop.name }}"/>
        <input type="hidden" id="price" name="price" value="{{ prop.price }}"/>
        </div>
        
      </div>
    </form>
                    
{% endfor %}
   </div> 
<script src="{{ asset('js/main.js') }}"></script>

{#{% if category.dishes=="" %}
    <h1>Order on line - eat at home.</h1>
{% endif %} #}

{% endblock %}

