 <link rel="stylesheet" href="{{ asset("css/template.css") }}" />

<div class='orderform'>
    <h3>Details of {{onecustomer.nom}}</h3>
First name: {{onecustomer.prenom}}<br>
Email: {{onecustomer.email}}<br>
Telephone: {{onecustomer.phone}}<br>
Address:<br>
Sreet: {{onecustomer.adresse.street}}<br>
Number: {{onecustomer.adresse.number}}<br>
City: {{onecustomer.adresse.city}}<br><br>
<h3>Orders:</h3> 
{% for cle, prop in onecustomer.orderings %}
   When to deliver: {{ prop.dateDelivery.date }}<br>
   Where to deliver: {{ prop.adresseDelivery }}<br>
   Total amount: {{ prop.totalPrice }}<br>
{% endfor %}
{% for cle, prop in onecustomer.orderings %}
    
{% endfor %}
<br>
<a href="http://takeaway.localhost/displayCustomers">Back to the list</a> 
</div>
