<style>
    
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

th{
    background-color: #d66;
}
tr:nth-child(even){
    background-color: lightgray;
}

</style>

<table>
    <tr>
        <th>Last name</th>
        <th>First name</th>
        <th>E-mail</th>
        <th>Telephone</th>
        <th>Street</th>
        <th>Number</th>
        <th>Zipcode</th>
        <th>City</th>
        <th>Delete</th>
        <th>Modify</th>
        <th>Display details</th>
    </tr>
{% for cle, prop in customers %}
    <tr>
        <td>{{prop.nom}}</td>
        <td>{{prop.prenom}}</td>
        <td>{{prop.email}}</td>
        <td>{{prop.phone}}</td>
        <td>{{prop.adresse.street}}</td>
        <td>{{prop.adresse.number}}</td>
        <td>{{prop.adresse.zipcode}}</td>
        <td>{{prop.adresse.city}}</td>
        <td>
            <form method="post" action="/deleteCustomer/{{ prop.id }}">
            <input type="hidden" name="id" value="{{ prop.id }}"/>
            <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <form method="post" action="/modifyCustomer/{{ prop.id }}">
            <input type="hidden" name="id" value="{{ prop.id }}"/>
            <input type="submit" value="Modify">
            </form>
        </td>
        <td>
            <form method="post" action="/detailsCustomer/{{ prop.id }}">
            <input type="hidden" name="id" value="{{ prop.id }}"/>
            <input type="submit" value="Display details">
            </form>
        </td>
    </tr>
{% endfor %}
</table><br><br>

    <a href="http://takeaway.localhost/index">Home</a> 