footer{
    height:300px;
    background-color: #d66;
}

footer div{
    padding-left: 410px;
    padding-top: 20px;
}
footer p{
    display:inline-flex;
    padding: 20px;
    font-size: 25px;
    color: #625656;
}


