header{
    width:100%;
    background-color: #53CACE;
    height: 120px;
}

.mainNav a{
    padding: 8px 8px 3px 13px;
    text-decoration: none;
    font-size: 25px;
    color: brown;
    display: inline-flex; 
    text-transform: lowercase;   
    font: Helvetica;
}

.mainNav a:first-child{
    border:1px brown solid;
    padding-bottom:10px;
    padding-right:10px;
}

.mainNav a:nth-child(4){
    color:#1a6aa7;
}

.mainNav{
    padding-left: 24%;
    padding-top: 2%;
}
.mainNav h2{
  padding-left: 500px;  
  font-size: 50px;
  color:#2d5f60;
}