.sidenav {
/*    height: 100%;  Full-height: remove this if you want "auto" height */
    width: 400px; /* Set the width of the sidebar */
/*    position: fixed;*/
    left: 0;
    background-color: #f1f1f1; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px;
    padding-bottom: 160px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 200px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #2d5f60;
}

.sidenav h1{
    padding: 6px 8px 6px 200px;
    color: #2d5f60;
}
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/