
body {  
/*  background-color: #d66;*/
    background-image: url("/img/background/backgroung.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

#container {
  width: 840px;
  margin-top: 190px;
  margin-left: 640px; 
}


.signup {
  float: left;
  width: 300px;
  padding: 20px 10px;
  background-color: white;
  text-align: center;
  border:1px solid brown;
}

[type=text] {
  display: block;
  margin: 0 auto;
  width: 90%;
  border: 0;
  border: 1px solid silver;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: brown;
}

[type=submit] {
  margin-top: 25px;
  width: 90%;
  border: 0;
  background-color: #1a6aa7;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

[type='text']:focus {
  outline: none;
  border-color: #1a6aa7;
}

h3 {
  color:brown;
  font-size: 2em;
  margin-top:5px;

}
