body{
    margin:0;
    padding:0;
    background-color:#bfd7f4;
}

#content h1{
    color:royalblue;
    text-align: center;
}

#middleContent{
    display:inline-flex;
    align-items: flex-start;
}

#sidebar{
    width:400px;
}

/*-------display of the dishes----------*/
.display{
    display:flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right:30px;
}

form{
  width:790px;
}

.dish{ 
    display: flex;
    flex-wrap: wrap;
    width: 790px;
    border:1px red solid;
    background-color: whitesmoke;
    margin-bottom: 2px;
    padding:0 0 0 15px;
    border-radius: 5px;
}

.dish div:nth-of-type(1){
    display:inline-flex;
    flex-direction: row;
    align-items:flex-end; 
}

.dish p:nth-of-type(1){
    color:brown;
    width: 130px;
    margin-right:5px;
}
.dish p:nth-of-type(2){
    width:250px;
    margin-left: 20px;
}

[type=button], [type=number]{
  margin-top:10px;
  width: 90%;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  height: 25px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

.inputs{
    margin-top:10px;
    margin-left:25px;
}

/*------basket----------*/
#divBasket{
    width:300px;
    background-color: whitesmoke;
    padding:10px;
    border-radius: 10px;
    margin-left:10px;
}

#basket{
    margin:10px;
}

#basket p{
    font-size:17px;
    color:brown;
    margin:0;
    display:inline-flex;
    flex-direction: row;
}

#order{
  width: 150px;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  margin-left: 130px;
}

[type=submit]{
  width: 100px;
  border: 0;
  background-color: brown;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}

.important{
    color:white;
    background-color: red;
    border:1px red solid;
    padding:2px 2px 2px 5px;
    width:60%;
}

/*-------account form--------*/
#container {
  width:400px;
  margin: 25px auto;
  border:silver solid 2px;
  border-radius: 5px;
  padding:20px;
  background-color: whitesmoke;
}

.fields {
  display: block;
  margin-bottom:10px;
  width: 50%;
  border: 1px solid silver;
  border-radius: 5px;
  height: 35px;
  font-size: 1em;
  color: brown;
  background-color: white;
}

.account form{
    width:800px;
}

.account h3 {
  color:#1a6aa7;
  font-weight: 800;
  font-size: 2em;
  margin:5px 5px 5px 75px;
}
.account input{
    margin-bottom: 10px;
}

#accountbutton{
    width: 400px;
    height:35px; 
    background-color: #1a6aa7;
    margin-top:10px;
}

/*----------order form---------*/

.orderform{
    margin:30px 0 0 500px;
}

.orderform input[type=number]{
    margin-top: 0;
}

.orderform h3{
  color:#1a6aa7;
  font-size: 25px;
  margin:5px 5px 5px 115px;
  text-transform: lowercase;   
  font: Helvetica;
}

.orderform [type=submit]{
    width:395px; 
    height:35px;
}
